/*landing btn start*/
#index-btn {
	color: black;
	border: 3px solid black;
}

#index-btn:hover{
	background-color: black;
	color: white;
	-webkit-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}
/*landing btn end*/

/*landing jumbotron*/
.landing-jumbo {
	padding: 0;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	background-image: url("../../assets/images/morning-hike.jpg");
	background-size: cover;
	background-position: center center;
}

/*Show jumbo*/
.show-jumbo {
	padding: 0;
	height: 70vh;
	max-width: 100%;
	max-height: 100%;
	background-image: url("../../assets/images/morning-hike.jpg");
	background-size: cover;
	background-position: center center;
}

/*loading spinner start*/
.loading {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 6em;
    height: 6em;
    animation: spin 2s linear infinite;
		margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*loading spinner end*/

.bordered {
	border: 1px solid black;
	margin: 2px 2px;
	padding: 2px 2px;
}

.index {
	margin-top: 5vh;
}

/*title bar in hike show*/
.title {
	background-color: #f6f6f6;
	margin: 0 0;
	padding-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
	background-color: #f6f6f6;
  padding: 20px 15px 18px 60px;
  border: 1px solid #ebebeb;
}

.hike-main {
	margin-top: 10px;
}
